language: objective-c
osx_image: xcode8

env:
  global:
    - LC_CTYPE=en_US.UTF-8

before_install:
  - brew update

script:
  - xcodebuild test -scheme FileWatch -configuration Release | xcpretty -c
  - carthage build --no-skip-current

notifications:
  email: false
